.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 20px;
  width: 330px;
  border: 1px solid #ccc;
  height: 70vh;
  margin-top: 30px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form input,
.form button {
  flex-grow: 1;
}

.list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
